/* FUENTES DE TEXTO */

@font-face {
    font-family: 'Cyberpunks';
    src: local('Cyberpunks'), url('/static/fonts/Cyberpunks.ttf') format('truetype');
  }

@font-face {
    font-family: 'Retron2000';
    src: local('Retron2000'), url('/static/fonts/Retron2000.ttf') format('truetype');
  }

@font-face {
    font-family: 'Zekton';
    src: local('Zekton'), url('/static/fonts/Zekton.ttf') format('truetype');
  }

@font-face {
    font-family: 'Error';
    src: local('Error'), url('/static/fonts/Error.ttf') format('truetype');
}


/* CURSORES */
*{
    cursor: url('/static/Cursores/SimpleNeonCursor.cur'), default;
}

* a, i{
    cursor: url('/static/Cursores/ClickableNeonCursor.cur'), pointer;
}

/* ESTILO DEL VIDEO */

.video-container {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

video { 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

/* ESTILO DEL BANNER */

.banner, nav {
    position: relative;
    color: white;
}

.banner{
    width: 90%;
    margin: 0 auto;
    text-align: center;
    margin-top: -20px;
}

.banner > .banner-title{
    font-family: 'Cyberpunks';
    font-size: 90px;
    animation: animateBg 2.5s linear infinite;
    background-image: linear-gradient(0deg,#f547d5,#e4b349,#c6ee4a,#42eca6,#64b3d9,#208ea2,#897ed3,#f547d5,#e4b349);
    background-size: 100% 800%;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-stroke-width: 0.0001px;
    -webkit-text-stroke-color: #ecff99;
    transition: all ease-in-out 150ms;
}

.banner > .banner-title:hover{
    font-size: 100px;
    transition: all 150ms;
}

@keyframes animateBg {
  0% { background-position: 0% 100%; }
  100% { background-position: 0% 0%; }
}

/* ESTILO BARRA DE NAVEGACIÓN */

.nav-container{
    margin: 0 auto;
    margin-top: -30px;
    width: 80%;
    padding: 10px;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    row-gap: 0px;
}

.nav-blur-izq{
    background: rgba(50,236,216,0.6);
    background: linear-gradient(270deg, rgba(50,236,216,0.6) 35%, rgba(255,255,255,0) 100%);
}

.nav-blur-der{
    background: rgba(50,236,216,0.6);
    background: linear-gradient(90deg,rgba(50,236,216,0.6) 35%, rgba(255,255,255,0) 100%);
}

.nav-blur-izq, .nav-blur-der{
    height: 48px;
    width: 10%;
    text-align: center;
}


nav{
    margin: 0 auto;
    width: 80%;
    height: 48px;
    background: linear-gradient(90deg, rgba(50,236,216,0.6) 0%, rgba(24,74,92,1) 30%, rgba(24,74,92,0.71) 50%, rgba(24,74,92,1) 80%, rgba(50,236,216,0.6) 100%);
    letter-spacing: 2px;
}


nav > ul{
    display: flex;
    list-style-type: none;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
    text-decoration: none;
    justify-content: center;
}

nav > ul > li{
    float:left;
    margin-top: -15px;
}


nav > ul > li > a:link{
    text-decoration: none;
}

nav > ul > li > a{
    display: block;
    color: rgb(50, 236, 216);
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: rgb(164, 232, 251);
    padding: 7px 10px 7px 10px;
    font-family: 'Cyberpunks';
    font-size: 25px;
    text-align: center;
    transition: all ease-in-out 150ms;
}

nav > ul > li > a:hover{
    font-size: 30px;
    background: rgb(50, 236, 216);                    
    color: rgba(24,74,92,1);                      
    transition: all 100ms;                   
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: #405960;
    text-shadow: 5px 2px 7px rgba(24, 74, 92, 0.546);
    -webkit-box-shadow: 2px 2px 21px 2px rgb(164, 232, 251); 
    box-shadow: 2px 2px 21px 2px rgb(164, 232, 251);
}

/* ESTILO DEL CONTENIDO */

body, .content-container, .content{
    margin: 0 auto;
    position: relative;
}

.content-container{
    display: flex;
    flex-direction: row;
    row-gap: 5px;
    position: relative;
    padding: 15px;
    width: 90%;
    min-height: 700px;
    margin-top: 30px;
    margin-bottom: 30px;
}

/* SECCIÓN LATERAL - CONTENEDORES Y LISTAS */
.left-section{
    background-image: url("/static/Images/skating.gif");
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: stretch;
    justify-content: center;
    row-gap: 5px;
    margin: 0 auto;
    padding: 1px;
    width: 20%;
    max-height: 700px;
    color: aliceblue;
    text-align: justify;
    
}

.left-section > .links-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 50%;
    border: 2px solid rgba(21,212,27,0.64);
    box-shadow: 5px 2px 7px #000000;
/*     -webkit-box-shadow:0px 0px 160px 10px rgba(21,212,27,0.54);
    -moz-box-shadow: 0px 0px 160px 10px rgba(21,212,27,0.54);
    box-shadow: 0px 0px 160px 15px rgba(21,212,27,0.54); */
}

.left-section > .links-section > .links-title{
    /* border: 1px solid white; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0px; 
    font-family: 'Retron2000';
    width: 100%;
    height: 20%;
    text-align: center;
    background-color: rgba(21,212,27,0.64);
    border-bottom: 1px solid rgba(19, 202, 25, 0.754);
    text-shadow: 5px 2px 7px #000000;
}


.left-section > .links-section > .links-list{
    /* border: 1px solid white; */
    margin-top: 0px; 
    font-family: 'Retron2000';
    width: 100%;
    height: 80%;
    overflow-y:auto;
}


.left-section > .links-section > .links-list > ul{
    list-style: none;
    padding: 0px;
    font-family: 'CyberpunkWaifus';
}


.left-section > .links-section > .links-list > ul > li{
    display: flex;
    align-items: center;
    width: 100%;
    height: 35px;
}

.left-section > .links-section > .links-list > ul > li > a{
    color: white;
    text-decoration: none;
    text-shadow: 5px 2px 7px #000000;
    margin-left: 5px;
    text-align: left;
    font-size: 18px;

}

.left-section > .links-section > .links-list > ul > li:hover{
    background-color: rgba(21,212,27,0.64);
    color: white;
}

.left-section > .links-section > .links-list > ul > li:hover >a{
    color: rgb(255, 208, 0);
    font-weight: bold;
}


/* CONTENIDO */

.page-content{
    background:linear-gradient(90deg, rgba(0, 188, 212, 0.34) 16%, rgba(238, 130, 238, 0.34) 56%, rgba(246, 255, 11, 0.34) 100%);
    border: 2.5px solid rgba(247, 247, 77, 0.64);
    -webkit-box-shadow:0px 0px 90px 10px rgba(247, 247, 77, 0.44);
    -moz-box-shadow: 0px 0px 90px 10px rgba(247, 247, 77, 0.44);
    box-shadow: 0px 0px 90px 15px rgba(247, 247, 77, 0.44);
    margin: 0 auto;
    font-family: 'Zekton';
    width: 75%;
    color: aliceblue;
    text-align: justify;
    text-justify: inter-word;
}

.page-content > .content-title{
    margin-top: 0px; 
    width: 100%;
    height: 45px;
    text-align: center;
    background-color: rgba(247, 247, 77, 0.64);
    text-shadow: 5px 2px 7px #000000;
    border-bottom: 2px solid rgba(216, 195, 13, 0.658);
}

.page-content > .content{
    display: flex;
    justify-content: center;
    width: 95%;
    min-height: 500px;
    height: auto;
    padding: 10px;
    /* border: 1px solid rgb(255, 255, 255); */
}


/* ESTILO DEL FOOTER */

.footer-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    position: relative;
    margin: 26%;
    width: 67%;
    height: 50px;
    margin-top: 80px;
    margin-bottom: 100px;
    background-color: rgba(92, 135, 196, 0.68);
    border: 2px solid rgb(78, 137, 221);
    border-radius: 15px 0px 15px 0px;
    box-shadow: 0px 0px 20px rgba(92, 135, 196, 0.735);
    animation: animateBg 2.5s linear infinite;
    background-image: linear-gradient(0deg,#f547d5,#e4b349,#c6ee4a,#42eca6,#64b3d9,#208ea2,#897ed3,#f547d5,#e4b349);
    background-size: 100% 800%;
    padding: 5px;
}

footer{
    color: whitesmoke;
    font-family: 'Cyberpunks';
    letter-spacing: 2px;
    text-shadow: 5px 2px 7px #000000;
    text-align: center;
    font-size: 20px;
}   